.Wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 95vh;

    .StoreList {
        flex: 8;
        width: 98%;
        max-height: calc(76vh - 4px);

        .Store {
            float: left;
            border: 1px solid;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 200px;
            margin: 10px;
            padding: 10px;

            .storeName {
                flex: 1;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
            }

            .ownerName {
                flex: 1;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #8A8A8A;
            }

            .storeDes {
                flex: 3;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
            }

            .storeRate {
                flex: 2;
            }

            .Store:hover {
                animation-duration: 0.25s;
                animation-timing-function: ease-out;
                animation-name: mouseover;
                animation-fill-mode: forwards;
            }
        }
    }
}