.reviewContainer {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    height: 75vh;

    .rateAverage {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;

        .Average {
            margin-left: 3px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
        }
    }

    .reviewBox {
        flex: 12;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .reviewList {
            flex: 4;
            overflow: auto;

            .reviewContent {
                border: 1px solid;
                border-radius: 10px;
                margin-top: 20px;
                padding: 5px 15px;

                .reviewTop {
                    flex: 1;
                    height: 20px;
                    display: flex;
                    flex-direction: row;

                    .reviewTopLeft {
                        flex: 10;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        .reviewAuthor {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                        }

                        .reviewRate {
                            margin-left: 3px;
                        }



                        .reviewTime {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 20px;
                            color: #8A8A8A;
                        }

                        .isEdit {
                            margin-left: 5px;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 20px;
                            color: #8A8A8A;
                        }

                    }

                    .reviewTopRight {
                        flex: 1;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;

                        .reviewEdit {
                            padding-top: 2px;
                            height: 85%;
                        }

                        .reviewEdit:hover {
                            cursor: pointer;
                        }

                        .reviewDelete {
                            padding-top: 2px;
                            height: 85%;
                            margin-left: 3px;
                        }

                        .reviewDelete:hover {
                            cursor: pointer;
                        }
                    }
                }

                .reviewBottom {
                    margin-top: 5px;
                    display: flex;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
            }

            .scrollTarget {
                height: 20px;
            }

            .reviewEditBox {
                background-color: white;
                border-radius: 10px;
                width: calc(100% - 10px);
                display: flex;
                flex-direction: column;
                padding: 5px;

                span {
                    margin-left: 3px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #8A8A8A
                }

                textarea {
                    height: 60px;
                    border: solid 1px;
                    border-radius: 10px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 20px;
                    padding: 5px 10px;
                }

                .reviewPostButton {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;

                    .reviewadd {
                        width: 40px;
                        height: 25px;
                        border-radius: 5px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 20px;
                        border: solid 0.2px #999999;
                        background-color: #D3FFC3;
                        margin-top: 5px;
                    }

                    .reviewEditCancle {
                        width: 40px;
                        height: 25px;
                        border-radius: 5px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 20px;
                        border: solid 0.2px #999999;
                        background-color: ffffff;
                        margin-top: 5px;
                        margin-left: 3px;
                    }
                }
            }
        }

        .reviewPost {
            flex: 1;
            background-color: white;
            border-radius: 10px;
            width: calc(100% - 10px);
            display: flex;
            flex-direction: column;

            span {
                margin-left: 3px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #8A8A8A
            }

            textarea {
                height: 60px;
                border: solid 1px;
                border-radius: 10px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                padding: 5px 10px;
            }

            .reviewPostButton {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                .reviewadd {
                    width: 40px;
                    height: 25px;
                    border-radius: 5px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    border: solid 0.2px #999999;
                    background-color: #D3FFC3;
                    margin-top: 5px;
                    cursor: pointer;
                }

                .reviewEditCancle {
                    width: 40px;
                    height: 25px;
                    border-radius: 5px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    border: solid 0.2px #999999;
                    background-color: ffffff;
                    margin-top: 5px;
                    margin-left: 3px;
                    cursor: pointer;
                }
            }
        }
    }
}