.DetailWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
}

.toMenu {
  flex: 1;
  width: 93%;
  font-style: normal;
  display: flex;
  align-items: center;

}

.toMenuText {
  padding-left: 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  text-decoration-line: none;
  color: black;
}

.DetailContainer {
  flex: 8;
  width: 93%;
  display: flex;
}

.DetailLeft {
  margin: 0px 15px;
  padding: 0px 20px;
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.DetailRight {
  flex: 3;
  border: 1px solid;
  border-radius: 10px;
  margin: 0px 15px;
  position: relative;
}


.editdelete {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  height: 50px;
}

.editicon {
  height: 70%;
  padding: 10px;
  margin: 10px;
  background-size: cover;
  background-attachment: fixed;
  background-color: ffffff;
  border: 0.5px solid;
  border-radius: 50%;

}

.editicon:hover {
  cursor: pointer;
}

.deleteicon {
  height: 70%;
  padding: 10px;
  margin: 10px;
  background-size: cover;
  background-attachment: fixed;
  background-color: ffffff;
  border: 0.5px solid;
  border-radius: 50%;

}

.deleteicon:hover {
  cursor: pointer;
}

