.Head {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px;
  margin-bottom: 5px;
  align-items: center;
  flex: 1;
  width: 100%;
}

.Title {
  flex: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LoginTap {
  border: solid 1px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.Logo {
  height: 50px;
  margin: 10px;
}

.headtitle {
  text-decoration: none;
  color: black;
}